{% extends "base.html" %}
{% block content %}
  <h2 style="text-align: center; margin: 5px; padding: 8px; color: white; background: green; font-weight: bolder; border-radius: 5px; border: 2px solid grey;">Login</h2>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul style="color: red;">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email() }}<br>
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.submit() }}
  </form>

  <a href="{{ url_for('auth.register') }}">Don't have an account? Register</a>
{% endblock %}
